<div class="navbar" >

	<a href="./">Home Page</a>
	<a href="./login">Login</a>
	<a href="./registration">Registration</a>
	<a href="./postimage">Post Image</a>
	<a href="./viewpost">View Post</a>
		
</div>