<div class="navbar" >

	<a href="/">Home Page</a>
	{{#if isLoggedIn}}
		<a id="logout-button">Log Out</a>
	{{else}}
		<a href="/login">Login</a>
		<a href="/registration">Registration</a>
	{{/if}}
	<a href="/postimage">Post Image</a>

	<form action="/posts/search" method="GET" enctype="application/x-www-form-urlencoded">
		<input type="submit" value="ðŸ”" id="search-submit">
		<input type="text" name="searchTerm" id="search-text" value="{{searchValue}}">
	</form>
		
</div>