<div class="photos">
	{{#each results}}
		<div>
			<img src="/{{this.thumbnail}}">
			<h2>{{this.title}}</h2>
			<p>{{this.description}}</p>
			<a href="/posts/{{this.id}}">Details</a>
		</div>
	{{/each}}
</div>
<p class="counter">Photos: <span>0</span></p>


