	
<div class="row">
<div class="leftcolumn">
	<div class="card">
		<h2><u>Why Cats Make Great Pets</u></h2>
		<p class="tab">Cats have many great qualities that you may not know. Having a feline friend can make your life a lot better because of companionship and love as well as health benefits. They are also fun to play with but are low maintenance.</p>

		<h2><u>Benefits Of Owning One:</u></h2>
		<ol>
			<li>Cats Are Low Maintenance</li>
			<li>Cats Are Quiet</li>
			<li>Cats Are Independent</li>
			<li>Cats Can Keep The House Pest-Free</li>
			<li>Cats Are Great Companions</li>
		</ol>
		<p></p>

		<h2>What Do We Know About Cats?</h2>
		<p class="tab">Cats are one of, if not the most, popular pet in the world. There are over 500 million domestic cats in the world. Cats and humans have been associated for nearly 10000 years.</p> 
		<p class="tab">Cats sleep for an average of 13 to 14 hours a day, so it is unsurprising to expect a cat to be napping at any time of the day. They also have powerful night vision, allowing them to see at light levels six times lower than what a human needs in order to see.</p>
		<p class="tab">Cats can be lethal hunters and very sneaky, when they walk their back paws step almost exactly in the same place as the front paws did beforehand, this keeps noise to a minimum and limits visible tracks. Their excellent hearing and a powerful sense of smell helps them with naviagting the world and hunt or escape predators. Cats also have flexible bodies and teeth adapted for hunting small animals such as mice and rats.</p>
		<p class="tab">Domestic cats love to play, this is especially true with kittens who love to chase toys and play fight. Play fighting among kittens may be a way for them to practice and learn skills for hunting and fighting.</p>
		<p class="tab">On average cats live for around 12 to 15 years. Cats spend a large amount of time licking their coats to keep them clean. Domestic cats usually weigh around 4 kilograms (8 lb 13 oz) to 5 kilograms (11 lb 0 oz).</p>

		<h2>How To Care For Your Cat</h2>
		<ul>
			<li><u><b>A fresh litter box.</b></u> Most house cats are indoor cats, which means you will need a litter box. A litter box is convenient, but needs to be cleaned every day to avoid unpleasant odors. Pet stores offer litter formulas that make it easy to scoop out waste and control the smell.</li>
			<li><u><b>Consistent grooming.</b></u> Although a cat might not need the same amount of grooming as a dog, it still takes work to prevent your house from turning into one big hairball. A weekly cleaning is usually enough, and you can find easy-to-use cat grooming tools at most pet stores.</li>
			<li><u><b>A scratch pole.</b></u> Many cats have a tendency to scratch and paw at drapes, furniture, and just about anything else that takes their fancy. Investing in a scratch pole or post will not only provide your cat with the scratching outlet they need, but also save you lots of money and frustration.</li>
			<li><u><b>A well-balanced diet.</b></u> Work with your vet to ensure your feline is getting a nutritional diet. Avoid overfeeding that can lead to obesity and other serious health issues. Also, be sure to keep their food and water bowls far away from their litter box to prevent any risk of contamination.</li>
			<li><u><b>A safe environment.</b></u> Cats are small, delicate animals that do well living mostly indoors. Although many cats love to roam free outside, other predatory animals and traffic, for example, can threaten their safety. Always monitor your cat’s whereabouts and keep an ID tag on its collar. Having your pet microchipped will allow shelters and veterinarians to easily identify you as the owner should your cat get lost.</li>

		</ul>
		
	</div>	
</div>

<div class="rightcolumn">
	<div class="card">
		<h2>Fun Facts:</h2>
		<p>
			<div>
				<img src="/public/img/cat1.png" alt="Kitten">
			</div>
			<br>
			<ul>
				<li>Cats are believed to be the only mammals who don’t taste sweetness.</li>
				<li>Cats can jump up to six times their length.</li>
				<li>Cats have an extra organ that allows them to taste scents on the air, which is why your cat stares at you with her mouth open from time to time.</li>
				<li>Cats’ rough tongues can lick a bone clean of any shred of meat.</li>
				<li>Cats use their long tails to balance themselves when they’re jumping or walking along narrow ledges.</li>
				<li>A cat’s learning style is about the same as a 2- to 3-year-old child.</li>
				<li>Each cat’s nose print is unique, much like human fingerprints.</li>
				<li>Cats often attack your ankles when they’re bored.</li>
				<li>Meowing is a behavior that cats developed exclusively to communicate with people.</li>
				<li>Many cats are actually lactose intolerant.</li>
				<li>Cats have the largest eyes relative to their head size of any mammal.</li>
			</ul>
		</p>
		
	</div>
</div>
</div>

<div class="photos"></div>
<p class="counter">Photos: <span>0</span></p>


