

<br>

<div class="centerbox">

<h2>Login</h2>
	
	<form>
		<label for="username">Username:</label>
		<input type="text" name="username">
		
		<br><br>

		<label for="password">Password: </label>
		<input type="text" type="password" name="password">
		
		<br>

		<input type="submit" name="submit" value="Login">
	</form>

</div>

