
<br>

<div class="centerbox_reg">
	<h2>Registration</h2>

	<form id="form" method="POST" action="/users/registration" enctype="application/x-www-form-urlencoded">
		<label for="username">Username:</label>
		<input id="username" type="text" name="username" required>
		
		<br><br>

		<label for="email">Email:</label>
		<input id="email" type="email" name="email" required>
		
		<br><br>

		<label for="password">Password:</label>
		<input id="password" type="password" name="password" required>
		
		<br><br>

		<label for="confirm_password">Confirm Password:</label>
		<input id="confirm_password" type="password" name="cpassword" required>
		
		<br><br>

		<input id="13_plus" type="checkbox" required>
		<label class="confirmation" for="13_plus">By checking this, I agree that I am at least 13 years old and have read and agree to the <a href="tos.html">TOS</a> and <a href="pr.html">Privacy Rules</a>.</label>

		<input id="create_account" type="submit" value="Create Account">
	</form>
</div>


